<form class="attendance-form" action="">
  <p class="event-extra-text">Are you going? </p>
  <input class="event-radio-button" type="radio" name="attending" value="true"> 
  <p class="event-extra-text"> yes </p>
  <input class="event-radio-button" type="radio" name="attending" value="false"> 
  <p class="event-extra-text"> no </p>
</form>