<div class="event-show-div ">
  <div class="panel-default my-panel">
    <div class="panel-heading my-panel-heading" 
    ng-style="{'background-color':events.bgRgbaHeadDefault}">
      <div class="event-icon-div">
        <img class="event-icon"
        src="<%= asset_path("events_calendar_white.png") %>"
        ng-style: "{'background-color': events.bgRgbaHeadDefault'}"></img>
      </div>
      <div class="event-text">
        <p class="event-title" ng-bind="events.selected_title">Event 1</p>
        <p class="event-sub-head"> {{events.selected_subscribe_count}} FOLLOWERS</p>
      </div>
    </div>
    <div class="panel-body my-panel-body" ng-style="{background:events.bgRgbaBodyDefault}">
      <p>Posts happening!</p>
    </div>
  </div>
</div>