<div class="event-extra-text-div">
  <p class="event-body-text event-extra-text">Are you going? </p>
  <input class="event-radio-button" type="radio" ng-model="event.attending" ng-value="true" ng-change="toggleAttendEvent(event)"> 
  <p class="event-body-text event-extra-text"> yes! </p>
  <input class="event-radio-button" type="radio" ng-model="event.attending" ng-value="false" ng-change="toggleAttendEvent(event)"> 
  <p class="event-body-text event-extra-text"> no! </p>
  <br><br>
  <%= link_to "view event details", "{{event.url}}" %>
</div>