<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <div class="dropdown navbar-item">
        <a snap-toggle href="#" class="dropdown-toggle navbar-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "menu_hamburger_white.png", class: 'icon-menu-hamburger' %></a>
      </div>
      <div class="navbar-title navbar-item">
        <p class="font-montserrat">
            Women Who Code
        </p>
      </div>
    </div>
  </div>
</nav>