<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <div class="dropdown navbar-item">
          <a href="#" class="dropdown-toggle navbar-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<!--             <div class="panel-default my-panel"> -->
              <div class="my-dropdown-menu-heading">
                <p><%= image_tag "default_user_icon.png", size: "40x40"%></p>
                <p><%= current_user.email %></p>
                <p>San Francisco</p>
              </div>
            <div class="my-dropdown-menu-body">
                <p> Profile </p>
                <p> Contact WWCode </p>
                <p> Switch your theme!</p>
                <p> <%= link_to "Sign out", "/users/sign_out", method: "delete" %>
                </p> 
            </div>
<!--           </div> -->
          </div>
      </div>
      <div class="navbar-title navbar-item">
        <p class="font-montserrat">
            Women Who Code
        </p>
      </div>
    </div>
  </div>
</nav>
