<%= render "navbar" %>
<div ng-app="app" class="events-table-div">
  <div ng-controller="eventsCtrl" ng-init="setup()" class="events-cell-div">
    <p class="events-heading font-montserrat"> Upcoming events near you:</p>
    <div class="events-inner-div">
      <div ng-repeat="event in events" class="event-repeat" ng-attr-id="event{{event.id}}" ng-click="select_event(event)" ng-mousedown="highlightSelectedEvent(event)" ng-mouseover="mouseoverEvent(event)" ng-mouseleave="mouseleaveEvent(event)">
        <div class="panel-default my-panel">  
          <div class="panel-heading my-panel-heading font-montserrat-light" ng-style="{background:event.bgColorHead}">
            <p class="event-title">{{event.title}}</p>
            <p class="event-sub-head">{{event.network.title.toUpperCase() + " NETWORK"}}</p>
          </div>
          <div class="panel-body my-panel-body font-hind" ng-style="{background:event.bgColorBody}">
            <p>{{event.month + " " + event.date}}, {{event.hour + ":" + event.minute + " " + event.ampm}} {{"at " + event.location}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="event-show-div " ng-show="events.selected_id">
      <div class="panel-default my-panel">
        <div class="panel-heading my-panel-heading" ng-style="{background:events.bgColorHeadDefault}">
          <p class="event-title">Event 1</p>
          <p class="event-sub-head"> X FOLLOWERS</p>
        </div>
        <div class="panel-body my-panel-body" ng-style="{background:events.bgColorBodyDefault}">
          <p>Things happening!</p>
        </div>
      </div>
    </div>
  </div>
</div>