<p> <%= link_to "Sign up", "/users/sign_up" %> </p>

<% if current_user %>
<p> <%= link_to "Sign out", "/users/sign_out", method: "delete" %> <p>
<% else %>
<p> <%= link_to "Sign in", "/users/sign_in" %> </p>
<% end %>

<div ng-app="app">
  <div ng-controller="eventsCtrl" ng-init="setup()">
    <div ng-repeat="event in events">
      <p>{{event.title}}</p>
      <p>{{event.network.title.toUpperCase() + " NETWORK"}}</p>
      <p>{{event.month + " " + event.date}}</p>
      <p>{{event.hour + ":" + event.minute + " " + event.ampm}}</p>
      <p>{{"at " + event.location}}</p>
      <br>
    </div>
  </div>
</div>