<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-form navbar-left"
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="dropdown navbar-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars navbar-menu"></i>
    </div>
    <div class="nav-title navbar-item">
      <p class="font-montserrat">
          Women Who Code
      </p>
    </div>
  </div>
</nav>
