<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <div class="dropdown navbar-item">
          <a href="#" class="dropdown-toggle navbar-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
      </div>
      <div class="nav-title navbar-item">
        <p class="font-montserrat">
            Women Who Code
        </p>
      </div>
    </div>
  </div>
</nav>
