<br>
<%= image_tag('personalization.gif', class: 'check_pic')%>
<%= image_tag('personalization.gif', class: 'check_pic')%>
<%= image_tag('personalization.gif', class: 'check_pic')%>

<p id="thanks_title">Thanks!</p>

<div class="sign_up_buttons">
  <div class="github">
    <a href="#" class="github_button github_link"><i class="fa fa-github pic fa-2x">&nbsp;</i>SIGN UP WITH GITHUB</a>
  </div>
  <div class="email">
    <a href="/users/sign_up" class="mail_button"><i class="fa fa-envelope-o fa-2x"></i>&nbsp;</i>SIGN UP WITH EMAIL</a>
  </div>
</div>