/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require snapjs/snap
 *= require angular-snap/angular-snap.min
 */

.alert-dismissible{
 margin-top: 65px;
 margin-bottom: 0px;
}

.field_padding {
  padding: 5px;
}

<<<<<<< HEAD

=======
.snap-content {
  background-color: white;
}
>>>>>>> f6494c82eefabc8ae3bbb329d1a7a8f61f11f84e
