html, body { 
  background: #212121; 
  color: white;
  text-align: center;
}

.button {
  background: #00B5A9;
  height: 40px;
  width: 100px;
}

input {
 background: transparent; 
 border-color: transparent transparent #696969 transparent;
 margin: 20px;
 border-radius: 4px;
 width: 300px;
}