body.sign_up { 
  background: #212121 !important; 
  color: white !important;
  text-align: center !important;
}

.button {
  background: #00B6AA;
  height: 40px;
  width: 100px;
  border: none;
  transition: background-color .1s;
}

.button:hover {
  color: #00B6AA;
  background: white;
  border: 2px solid #00B6AA;
  text-decoration: none;
  transition: background-color .1s;
}

input {
 background: transparent; 
 border-color: transparent transparent #48484A transparent;
 margin: 20px;
 border-radius: 4px;
 width: 300px;
}

.remember_me_checkbox {
  float: left;
  width: 10px;
}

.remember_me {
  margin-left: 60px;
  
}

.remember_me_div {
  display: inline-block;
  width: 170px; 
  margin-left: -25px;
}

#sign_up_title {
  margin-top: 20px;
  font-size: 22px;
}