input {
 background: transparent; 
 border-color: transparent transparent #48484A transparent;
 margin: 20px;
 border-radius: 4px;
 width: 300px;
}

.remember_me_checkbox {
  float: left;
  width: 10px;
}

.remember_me {
  margin-left: 60px;
  
}

.remember_me_div {
  display: inline-block;
  width: 170px; 
  margin-left: -25px;
}

