$primary: #00b6aa;
$selected: #009688;

@font-face {
    font-family: 'montserrat-light';
    src: font-url('montserrat-light.eot');
    src: font-url('montserrat-light.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat-light.woff2') format('woff2'),
         font-url('montserrat-light.woff') format('woff'),
         font-url('montserrat-light.ttf') format('truetype'),
         font-url('montserrat-light.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-hind {
  font-family: 'Hind', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.font-montserrat-light{
font-family: 'montserrat-light', sans-serif;
} 

.events-table-div {
  padding-top: 80px;
  background-color: white;
  display: table;
  width:100%;
}
.events-cell-div {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  padding-bottom: 20px;
}
.events-inner-div {
  display: inline-block;
  text-align: left;
  width: 500px;
  margin-left: 20px;
}

.events-heading {
  font-size: 14.5px;
  margin-bottom: 20px;
  padding-left: 29px;
  font-weight: 300;
  color: black;
}


.my-panel {
  border-color: transparent;
  box-shadow: 1.5px 0px 2.5px rgba(190, 190, 190, 0.5), 0px 5px 3px rgba(190, 190, 190, 0.5);
  border-radius:4px;
  margin-bottom: 20px;
  background: transparent;
}

.my-panel-heading {
  padding: 15px 18px;
  /*background-color: #00B6AA !important;*/
  border: none;
  border-radius:4px 4px 0px 0px;
}

.event-icon-div {
  float: left;
  margin-right: 10px;
}
.event-icon { 
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.event-title, .event-sub-head {
  color: white;
  line-height: 1.5;
}
.event-sub-head {
  font-size: 10px;
  font-weight: bold;
  opacity: .75;
  margin-top: 0px;
}
.event-sub-head-left {
  float: left;
} 
.event-sub-head-right {
  display: inline-block;
  float: right;
}

.event-heading-bottom-buffer {
  height:10px;
}


.my-panel-body {
  padding: 15px 18px 10px 18px;
  border-radius:0px 0px 4px 4px;
}

.event-body-text {
  line-height: 1.5;
  margin-bottom: 0px;
  font-size: 14px;
  color: black;
} 

.event-expand-div {
  display: none;
}
.event-extra-text-div {
  margin-top: 20px;
  margin-bottom: 10px;
}

.event-extra-text {
  padding-right:10px;
  display: inline-block;
}
.event-extra-text-div input[type="radio"] {
  display: inline-block !important;
  width: 20px;
}