.font-hind {
  font-family: 'Hind', sans-serif;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.navbar-item{
  display: inline-block;
  color: grey;
}

.nav-title{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar-menu {
  font-size: 20px !important;
  color: grey;
}