body.sign_up {
  background-color: #212121;
}

#form_title {
  margin-top: 15px;
  font-size: 22px;
  width: 285px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form_checkbox_labels {
  color: #bebebe;
  margin-left: 13px;
  width: 190px;
  vertical-align: middle;
  font-weight: normal;
  font-size: 16px;
}

.form_checkboxes {
  width: 450px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-left: 25%;
  background: #212121;
  outline: 2px solid  #48484A;
}

input[type="radio"] {
  width: 17px;
  height: 17px;
  margin-left: 25%;
  background: #212121;
  margin-bottom: 15px;
}

.other {
  width: 200px;
  margin-left: 142px;
  padding-bottom: 8px;
  margin-top: -1px;
  padding-top: 3px;
  color: #48484A;
  font-size: 16px;
}

.next_button {
  background: #00B6AA;
  height: 40px;
  width: 100px;
  border: none;
  font-size: 20px;
}

.check_pic {
  width: 50px;
  height: 50px;
  display: inline;
  text-align: center;
}

.circle_number_pic {
  width: 50px;
  height: 50px;
  display: inline;
  text-align: center;
}

