.icon-menu-hamburger {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.navbar-title>p{
  color: white;
  opacity: 0.80;
}

.navbar-item{
  display: inline-block;
  color: grey;
  margin-bottom: 0px;
}

.navbar-title{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar-menu {
  display: inline-block;
  font-size: 20px !important;
  color: grey;
  padding: 10px 17px 10px 15px!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar {
  min-height: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.container-fluid {
  padding-left: 10px !important
}

