// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.sign_up {
  background-color: #212121;
}

.main_text {
  color: white;
  text-align: center;
  font-size: 50px;
}

.main_text_top {
  margin-top: 100px;
}

.sub_text {
  color: 696969;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 75px;
  margin-bottom: 35px;

}

.join_us_button {
  float: left;
  margin-left: 38%;
  text-decoration: none;
  color: white;
  font-size: 24px;
  background: #00b5a9;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
}

.log_in_button {
  float: left;
  text-decoration: none;
  color: white;
  font-size: 24px;
  background: #00b5a9;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 5px;
  margin-left: 10px;
}