// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.sign_up {
  background-color: #212121;
}

.main_text {
  color: white;
  text-align: center;
  font-size: 50px;
}

.main_text_top {
  margin-top: 100px;
}

.sub_text {
  color: #696969;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 75px;
  margin-bottom: 35px;

}

.join_us_button {
  float: left;
  text-decoration: none;
  color: white;
  font-size: 24px;
  background: #00b5a9;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
}

.log_in_button {
  float: left;
  text-decoration: none;
  color: white;
  font-size: 24px;
  background: #00b5a9;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 5px;
  margin-left: 10px;
}

.center_buttons {
  display: inline-block;
  text-align: center; 
}

#thanks_title {
  margin-top: 50px;
  font-size: 22px;
  width: 285px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.github {
  display: inline-block;
  margin-top: 150px;
  text-align: center;
}


.github_button {
  background: #00B6AA;
  font: white;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.email {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.mail_button {
  background: #00B6AA;
  font: white;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 5px;
}

