.finalize_button {
  width: auto;
  background: #00B6AA;
  height: 40px;
  border: none;
  font-size: 20px;
}

p {
  color: #48484A;
  font-family: Hind;
  margin-left: 490px;
  text-align: left;
}

input[type="text"] {
  margin: 10px;
}

.profile_header {
  height: 150px;
}